.servis-library,
.solution{
    background-color: #052825;
}
.home{
    color: #FFF;
}

.solution__content {
    padding: 120px 0 ;
}
.solution-title {
    color: #FFF;
    text-align: center;
    margin-bottom: 30px;
}
.solution-list {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap:30px;
    grid-row-gap:30px;

}
.solution-item {
padding: 40px 32px 40px 32px;
border-radius: 3px;
background-color: #FFF;
}
.solution-item:hover,
.solution-item:focus{
    background-color: #B4B4B4;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    /* border: 2px solid #2196f3; */
}
.solution-img  img{
    margin-bottom: 30px;
}
.solut-label {
    margin-bottom: 10px;
    @include font(24px, 700, 34px);
// font-size: 24px;
// font-weight: 700;
// line-height: 34px;
letter-spacing: -0.4300000071525574px;
text-align: left;

}
.solut-text {
    @include font(16px, 400, 26px);
// font-size: 16px;
// font-weight: 400;
// line-height: 26px;
letter-spacing: -0.28999999165534973px;
text-align: left;
margin-bottom: 30px;

}
.solut-w {
    color: #2E4FD7;
    @include font(14px, 500, 22px);
// font-size: 14px;
// font-weight: 500;
// line-height: 22px;
letter-spacing: -0.25px;
text-align: left;
}
.solution-btn{
    display: inline;
    @include font(16px, 500, 26px);
    // font-size: 16px;
    // font-weight: 500;
    // line-height: 26px;
    color: #FFF;
    letter-spacing: -0.28999999165534973px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px 15px 25px;
    border: 1px solid #FFF;
    text-align: center; /* Додайте це для горизонтального центрування */
    display: flex; /* Додайте це для вертикального центрування */
    align-items: center; /* Додайте це для вертикального центрування */
    justify-content: center; 
    
}
.swi__content {
    padding: 0 90px;
}

.slaiders-item {
    display: flex;
    gap: 30px;
}
.swi-text {
    @include box(540px,260px);
//     width: 540px;
// height: 260px;
color: #191919;
@include font(42px, 400, 52px);
// font-size: 42px;
// font-weight: 400;
// line-height: 52px;
letter-spacing: -0.7599999904632568px;
text-align: left;
margin-bottom: 50px;

}
.swi-name {
color: #191919;
@include font(24px, 700, 34px);
// font-size: 24px;
// font-weight: 700;
// line-height: 34px;
letter-spacing: -0.4300000071525574px;
text-align: left;

}
.swi-position {
    @include font(16px, 400, 26px);
// font-size: 16px;
// font-weight: 400;
// line-height: 26px;
letter-spacing: -0.28999999165534973px;
text-align: left;

}

.revi-button-prev,
.revi-button-next{
    position: absolute;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#B4B4B4;  

}
.revi-button-prev{
    background-image: url(/img/3l/5arow1.png);
    background-repeat: no-repeat;
    background-position: 50%;
    left: 120px;
    
}
.revi-button-next{
    background-image: url(/img/3l/5arow2.png);
    background-repeat: no-repeat;
    background-position: 50%;
    right: 150px;
}
.slaiders-item{
    opacity: 0;
}
.swiper-slide-active{
    opacity: 1;
}
.teamm__content{
    padding: 120px 0;
}
.teamm-list{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap:70px;
    grid-row-gap:50px;
}
.team-list{
    display: flex;
    gap: 5px;
}
.team-item{
    @include box(16px,16px);
    // width: 16px;
    // height: 16px;
    background-color: #B4B4B4;
    border-radius: 50%;
    padding: 10px;
}
.team-item:hover,
.team-item:focus{
    background-color: #2196f3;
    transition-duration: 0.5s;
}

.design__content {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    gap: 50px;
}
.design-number {
margin-bottom: 10px;
@include font(42px, 700, 52px);
// font-size: 42px;
// font-weight: 700;
// line-height: 52px;
letter-spacing: -0.7599999904632568px;
text-align: left;

}
.design-text {
    @include font(18px, 400, 28px);
// font-size: 18px;
// font-weight: 400;
// line-height: 28px;
letter-spacing: -0.3199999928474426px;
text-align: left;

}
.design-list {
    display: grid;
    align-items: center;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap:60px;
    grid-row-gap:30px;
}

